:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #0f0c29;
}

.slideshow {
  margin: auto;
  width: 60vw;
  aspect-ratio: calc(16 / 9);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

button {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  background-color: #0f0c29;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

button:hover {
  background-color: #24243e;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
